body{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
input{
    outline: none;
}
.MD_card{
	border-radius: 5px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	border: solid 1px rgba(0,0,0,0.2);
}
#top_bar{
	width: 100%;
	height: 50px;
	background: #F45147;
	position: relative;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}
#top_bar img{
	width: 160px;
	margin: 0 auto;
	display: block;
	padding-top: 10px;
}
#user_avatar{
	position: absolute;
	top: -8px;
	right: 50px;
	width: 200px;
}
#user_avatar img{
	width: 48px;
	cursor: pointer;
}
#user_message{
	width: 120px;
	height: 170px;
	margin: 10px auto;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	overflow: hidden;
	display: none;
    background: white;
}
#user_message_title{
	background: #F45147;
	color: white;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
}
.user_message{
	text-align: center;
	height: 50px;
	font-weight: bold;
	color: rgba(0,0,0,0.5);
	margin-top: 10px;
}
#logout{
	position: absolute;
	right: 50px;
	top: 15px;
	color: white;
}
/*网站消息框*/
#message_box{
	width: 250px;
	height: 50px;
	padding: 20px 20px;
	line-height: 30px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	background: #8bc34a;
	border: none;
	color: white;
	text-align: center;
	opacity: 0;
}
/*修改密码*/
#psw_box{
	width: 400px;
	height: 400px;
	background: white;
	border-radius: 10px;
	position: absolute;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	left: 0px;
	right: 0px;	
	top: 0px;
	bottom: 0px;
	margin: auto auto;
	z-index: 99;
	overflow: hidden;
	display: none;
}
#psw_box_title{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	color: white;
	background: #F45147;
	line-height: 80px;
	border-radius: 10px 10px 0 0;
}
.psw_title{
	font-size: 20px;
	color: #757575;
	text-align: center;
	font-weight: bold;
    margin: 10px auto;
}
#old_psw, #new_psw, #re_new_psw{
    border-radius: 30px;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    text-align: center;
    outline: none;
}
#psw_btn_box{
	position: absolute;
	width: 100%;
	height: 50px;
	background: #F45147;
	bottom: 0px;
}
.psw_btn{
	width: 199px;
	height: 50px;
	float: left;
	cursor: pointer;
}
.psw_real_btn{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: none;
    border: none;
    display: block;
    position: relative;
    width: 100%;
    line-height: 50px;
    color: white;
    cursor: pointer;
}
.psw_wrong{
    font-weight: 20px;
    text-align: center;
    margin: 10px auto;
    display: block;
    position: relative;
    color: red;
}

/*计数信息*/
#count_box {
    width: 1000px;
    height: 200px;
    margin: 40px auto;
    outline: none;
}
.count_left_right{
	width: 450px;
	height: 200px;
	background: white;
	float: left;
	margin-right: 96px;
	border-radius: 5px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	border: solid 1px rgba(0,0,0,0.2);
	overflow: hidden;
}
.count_title{
	width: 450px;
	height: 50px;
	background: #F45147;
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	border-radius: 5px 5px 0 0;
}
.count_icon{
	width: 100px;
	margin: 25px;
	margin-left: 60px;
}
.count_num{
	font-size: 80px;
	display: block;
	float: right;
	font-weight: bold;
	color: #757575;
	padding-left: 85px;
	margin-top: 20px;
	margin-right: 79px;
	border-left: solid 2px rgba(0,0,0,0.1);
}

/*时钟*/
#clock_box{
	width: 450px;
	height: 150px;
	background: white;
	position: relative;
	top: 0px;
}
#clock{
	width: 201px;
	height: 80px;
	margin: 0 auto;
	position: relative;
	top: 10px;
}
#clock div{
	float: left;
	font-size: 60px;
	text-align: center;
	color: #757575;
	font-weight: bold;
}
#clock_button{
	width: 165px;
	height: 35px;
	margin: 0 auto;
	margin-top: 20px;
}
#clock_button img{
	width: 35px;
	display: block;
	float: left;
	margin: 0 10px;
	cursor: pointer;
}
#stop_hide{
	position: relative;
	top: 0;
	left: 0;
}
#clock_close{
	position: absolute;
	margin: 0 auto;
	top: 10px;
	right: 10px;
}

/*列表盒子*/
#list_box{
	width: 1000px;
	height: 550px;
	margin: 0 auto;
    position: relative;
}
.btn_plus{
    position: absolute;
    cursor: pointer;
}
#btn_add_mission {
    top: -60px;
    left: 380px;
}
.mission_remind {
    width: 450px;
    height: 510px;
    background: white;
    float: left;
    margin-right: 96px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}
#remind{
	margin-right: 0;
    padding: 0px;
    height: 550px;
}
.list span {
    line-height: 20px;
    font-size: 15px;
    width: 270px;
    display: block;
    float: left;
    margin: 8px 0;
    cursor: pointer;
}
.list li{
	background: rgba(0,0,0,0.08);
	padding-left: 10px;
	width: 380px;
	margin: 10px auto;
	border-radius: 5px;
	border-left: solid 10px #F45147;
	overflow: hidden;
}
.list_button{
	float: right;
	margin: 5.5px;
	position: relative;
    cursor: pointer;
}

/*添加任务框体*/
.add_mission_remind_box {
    width: 420px;
    height: 230px;
    border: none;
    border-radius: 0px;
    border-top: 10px solid #F45147;
    background: white;
    position: absolute;
    left: 15px;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.add_list_tag {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
.add_list_text{
    display: block;
    border: 2px solid #757575;
    height: 25px;
    width: 300px;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0px auto;
    margin-top: 10px;
}
.add_list_btn_box{
    margin: 0 auto;
    width: 200px;
    height: 35px;
    margin-top: 20px;
}
.add_list_btn{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: solid 2px #F45147;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.add_list_btn:hover{
    background: #F45147;
    color: white;
    font-weight: bold;
}
.add_list_btn_true{
    float: left;
}
#add_mission_true {
    background: #F45147;
    line-height: 30px;
    color: white;
    font-size: 16px;
    border: solid 2px #F45147 !important;
    height: 34px;
    width: 84px;
}
.add_list_btn_false{
    float: right;
}

/*详细列表默认状态*/
#detailed_default{
    display: block;
}
.detailed {
    width: 450px;
    height: 510px;
}
#detailed_default_tag {
    text-align: center;
    font-size: 25px;
    color: rgba(0,0,0,0.4);
    margin-top: 10px;
}
#detailed_default_img{
    display: block;
    width: 100px;
    opacity: 0.5;
    margin: 0 auto;
    padding-top: 120px;
}
#detailed_mission{
    right: -450px;
    position: relative;
    top: -510px;
    z-index: 2;
    background: white;
}

